body {
  margin: 0;
  padding: 0;
  font-family: "Monsterrat" , sans-serif;
}

.top-page-1 {
  position: relative;
  height: 100vh;
  background-image: url(./v1_58.png);
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.grey-box {
  position: relative;
    background-color: grey;
    height: 90px;
}

.url-icon {
  height: 70px;
  width: 110px;
  left: 30px;
  position: absolute;
  top: 10px;
  z-index: 1;
}

.url {
  position: absolute;
    height: 70px;
    width: 110px;
}

.icon {
  position: absolute;
    width: 110px;
    height: 70px;
}

.nav-list {
  position: absolute;
    display: flex;
    align-items: center;
    height: 58px;
    top: 0;
    width: 500px;
    right: 100px;
}

.nav-list-link {
  position: relative;
  font-size: 19px;
  color: yellow;
  padding: 20px;
}

.instagram-logo {
  position: absolute;
    height: 40px;
    top: 10px;
}

.facebook-logo {
  position: absolute;
    height: 40px;
    top: 10px;
    left: 50%;
    transform: translateX(310px);
}


.black-box-page-1 {
  width: 350px;
    height: 300px;
    background-color: black;
    opacity: 0.70;
    position: absolute;
    left: 90px;
    top: 230px;
}

.text-1-in-black-box-page-1 {
  color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    top: 20px;
    left: 40px;
}

.text-2-in-black-box-page-1 {
  color: white;
  align-items: center;
  font-size: 20px;
  width: 196px;
  display: flex;
  justify-content: start;
  height: 70px;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  top: 22px;
  left: 40px;
}

.yellow-border-box {
  border: 2px yellow solid;
  position: relative;
  top: 50px;
  height: 50px;
  width: 200px;
  left: 40px;
}

.white-text-in-yellow-border-box {
  color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 18px;
}

.nav-toggle {
  height: 70px;
  position: relative;
  display: flex;
  justify-content: end;
}

.nav-toggle {
  display: none;
}

.burger-bar {
  position: absolute;
    height: 60px;
    width: 60px;
    top: -75px;
    right: 30px;
    cursor: pointer;
}

.top-page-2 {
  position: relative;
  height: 100vh;
  background-image: url(./v1_5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.black-box {
    background-color: black;
    height: 85px;
    position: relative;
    opacity: 0.70;
}

.text-in-black-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  font-size: 28px;
  color: #ffc800;
}

.black-box-for-text {
  position: absolute;
  top: 280px;
  width: 450px;
  height: 200px;
  left: 30px;
  background-color: black;
  opacity: 0.85;
  border-radius: 5px;
}

.text-in-black-box-2 {
  display: flex;
    align-items: center;
    width: 450px;
    height: 200px;
    font-size: 26px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: #ffc800;
}

.image-sale {
  display: block;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 230px;
  right: 30px;
}

.top-page-3 {
  position: relative;
  height: 100vh;
}

.black-box-page-3 {
  background-color: grey;
    height: 85px;
}

.text-in-black-box-page-3 {
  height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.box-for-img-1-page-3 {
  width: 200px;
  height: 280px;
  position: absolute;
  left: 50px;
  top: 100px;
}

.img-1-page-3 {
  width: 200px;
}

.text-in-box-page-3 {
  display: flex;
    height: 40px;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    position: absolute;
    top: 215px;
}

.box-for-img-2-page-3 {
  width: 200px;
    height: 280px;
    position: absolute;
    left: 50%;
    transform: translateX(-100px);
    top: 100px;
}

.img-2-page-3 {
    width: 200px;
}

.text-in-box-2-page-3{
  display: flex;
    height: 40px;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    position: absolute;
    top: 215px;
}

.box-for-img-3-page-3 {
  width: 200px;
  height: 280px;
  position: absolute;
  right: 50px;
  top: 100px;
}

.img-3-page-3 {
    width: 200px;
}

.text-in-box-3-page-3 {
  display: flex;
    height: 40px;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    position: absolute;
    top: 215px;
}

.box-for-img-4-page-3 {
  width: 200px;
  height: 280px;
  position: absolute;
  left: 50px;
  top: 370px;
}

.img-4-page-3 {
    width: 200px;
}

.text-in-box-4-page-3 {
  display: flex;
    height: 40px;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    position: absolute;
    top: 215px;
}

.box-for-img-5-page-3 {
  width: 200px;
    height: 280px;
    position: absolute;
    left: 50%;
    transform: translateX(-100px);
    top: 370px;
}

.img-5-page-3 {
    width: 200px;
}

.text-in-box-5-page-3 {
  display: flex;
  height: 40px;
  width: 200px;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  position: absolute;
  top: 190px;
}

.box-for-img-6-page-3 {
  width: 200px;
  height: 280px;
  position: absolute;
  right: 50px;
  top: 370px;
}

.img-6-page-3 {
    width: 200px;
}

.text-in-box-6-page-3 {
  display: flex;
    height: 40px;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    position: absolute;
    top: 190px;
}

.top-page-4 {
  background-image: url(./v1_39.png);
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.grey-box-page-4 {
  height: 100px;
  position: relative;
  background-color: #505050;
  opacity: 0.85;
  height: 85px;
}

.text-in-grey-box-page-4 {
  color: white;
    font-size: 36px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisible-box-page-4 {
  height: 300px;
  width: 600px;
  position: absolute;
  top: 150px;
  right: 30px;
}

.text-in-invisible-box-page-4 {
  height: 300px;
  width: 600px;
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
}

.black-box-page-4 {
  height: 140px;
    background-color: #1c1b1b;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.text-in-balck-box-page-4 {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  height: 140px;
  align-items: center;
  position: relative;
  left: 40px;
  width: 150px;
}

.logo-img-page-4 {
  position: absolute;
    height: 140px;
    top: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.icon-page-4 {
  position: absolute;
    width: 110px;
    height: 70px;
    display: flex;
    top: 10px;
}

.text-for-logo-img-page-4 {
  height: 120px;
    display: flex;
    align-items: end;
    color: white;
    font-size: 25px;
    position: absolute;
}

.number-phone {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
  position: absolute;
  width: 170px;
  top: -5px;
  right: 60px;
}

.logo-container-page-4 {
  height: 60px;
    position: absolute;
    width: 174px;
    bottom: 5px;
    right: 40px;
}

.logo-img-2-page-4, .logo-img-3-page-4 {
  height: 50px;
  padding: 0 10px;
}

.burger-menu_nav {
  display: none;
}
.submit-button:hover {
  background-color: #4CAF50 ;
}

.sabmit {
  text-align: center;
  margin: 10px;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  
}

@media screen and (max-width: 725px) {
  .nav-list {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .black-box-page-1 {
    width: 350px;
    height: 300px;
    background-color: black;
    opacity: 0.70;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-175px, -120px);
}

.image-sale {
  display: none;
  height: 400px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(120px, -160px);
}

.text-in-black-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  font-size: 28px;
  color: #ffc800;
  position: absolute;
  right: 20px;
}

.black-box-for-text {
  position: absolute;
  top: 50%;
  width: 450px;
  height: 200px;
  left: 50%;
  transform: translate(-225px, -60px);
  background-color: black;
  opacity: 0.85;
  border-radius: 5px;
}



.text-in-black-box-page-3 {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  position: absolute;
  right: 80px;
}

.invisible-box-page-4 {
  height: 230px;
  width: 435px;
  position: absolute;
  top: 150px;
  right: 30px;
}

.text-in-invisible-box-page-4 {
  height: 230px;
  width: 435px;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
}

.black-box-page-4 {
  height: 110px;
  background-color: #1c1b1b;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.text-in-balck-box-page-4 {
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  height: 110px;
  align-items: center;
  position: absolute;
  left: 25px;
  width: 100px;
}

.logo-img-page-4 {
  position: absolute;
  height: 110px;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.icon-page-4 {
  position: absolute;
  width: 90px;
  height: 55px;
  display: flex;
  top: 10px;
}

.text-for-logo-img-page-4 {
  height: 110px;
  display: flex;
  align-items: end;
  color: white;
  font-size: 20px;
  position: absolute;
  top: -10px;
}

.number-phone {
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  position: absolute;
  width: 145px;
  top: 8px;
  right: 15px;
}

.logo-container-page-4 {
  height: 50px;
  position: absolute;
  width: 150px;
  bottom: 5px;
  right: 0px;
  top: 60px;
}

.logo-img-2-page-4, .logo-img-3-page-4 {
  height: 40px;
  padding: 0 10px;
}

.box-for-img-2-page-3 {
  display: none;
}

.box-for-img-5-page-3 {
  display: none;
}

.box-for-img-1-page-3 {
  width: 160px;
  height: 210px;
  position: absolute;
  left: 50px;
  top: 130px;
}

.img-1-page-3 {
  width: 160px;
}

.text-in-box-page-3 {
  display: flex;
  height: 40px;
  width: 150px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: absolute;
  top: 170px;
}

.box-for-img-3-page-3 {
  width: 160px;
  height: 210px;
  position: absolute;
  right: 50px;
  top: 130px;
}

.img-3-page-3 {
  width: 160px;
}

.text-in-box-3-page-3 {
  display: flex;
  height: 40px;
  width: 160px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: absolute;
  top: 160px;
}

.box-for-img-4-page-3 {
  width: 160px;
  height: 210px;
  position: absolute;
  left: 50px;
  top: 370px;
}

.img-4-page-3 {
  width: 160px;
}

.text-in-box-4-page-3 {
  display: flex;
  height: 40px;
  width: 160px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: absolute;
  top: 160px;
}

.box-for-img-6-page-3 {
  width: 160px;
  height: 210px;
  position: absolute;
  right: 50px;
  top: 370px;
}

.img-6-page-3 {
  width: 160px;
}

.image-sale {
  display: none;
}

.text-in-box-6-page-3 {
  display: flex;
  height: 40px;
  width: 160px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: absolute;
  top: 160px;
}

.burger-menu_button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #fffb03;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
  content: '';
  top: -12px;
}
.burger-menu_lines::after {
  content: '';
  top: 12px;
}


.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  padding-top: 120px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #645c0e;
  overflow-y: auto;
  right: -100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.burger-menu_active .burger-menu_nav {
  right: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_link {
  padding: 18px 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  color: #fffb00;
  border-bottom: 1px solid #fff;
}
.burger-menu_link:first-child {
  border-top: 1px solid #fff;
}
.burger-menu_link:hover {
  filter: brightness(0.9);
}
.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
}




